<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./../includes/head.ejs') %>
</head>
<body>
    <%- include('./../includes/navigation.ejs') %>
    <main>
        <section class="container my-5">
            <h1 class="text-center">Update Password</h1>
            <form action="/update-password" method="POST" class="mx-auto" style="max-width: 450px;">
                <% if(error.length > 0) { %>
                    <div class="py-2 px-3 my-2 bg-danger text-white rounded"><%= error %></div>
                <% } %>
                <div class="mb-4">
                    <label class="form-label" for="newPassword">New Password</label>
                    <input type="password" name="newPassword" id="newPassword" class="form-control" value="<%= newPassword %>"/>
                </div>
                <div class="mb-4">
                    <label class="form-label" for="confirmPassword">Confirm Password</label>
                    <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" value="<%= confirmPassword %>"/>
                </div>
                <input type="hidden" name="csrfToken" value="<%= csrfToken %>">
                <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                <input type="hidden" name="userId" value="<%= userId %>">
                <button type="submit" class="btn btn-primary d-block w-100 mb-4">Update Password</button>
            </form>
        </section>
    </main>
    <%- include('./../includes/bootstrapBundle.ejs') %>
</body>
</html>