<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./../includes/head.ejs') %>
</head>
<body>
    <%- include('./../includes/navigation.ejs') %>
    <main>
        <section class="container my-5">
            <div class="row">
                <div class="col">
                    <h1>My Cart</h1>
                    <p>List of all products in your cart...</p>
                </div>
                <form action="/create-order" method="POST" class="col align-self-center">
                    <input type="hidden" name="csrfToken" value="<%= csrfToken %>">
                    <button type="submit" class="btn btn-outline-primary d-block ms-auto">Order now</button>
                </form>
            </div>
            <hr>
            <% if(cartProducts.length > 0) { %>
                <article class="row gap-3">
                    <% for(cart of cartProducts) {  %>
                        <article class="card px-0" style="width: 18rem;">
                            <img src="<%= cart.product.imageURL %>" class="card-img-top" style="height: 150px;" alt="Image Book">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5 class="card-title m-0"><%= cart.product.title %></h5>
                                    <p class="badge text-primary fs-5 m-0">$<%= cart.product.price %></p>
                                </div>
                                <p class="card-text"><%= cart.product.description.slice(0,122) %>...</p>
                                <p><strong>Quantity: </strong> <%= cart.quantity %></p>
                                <a href="/products/<%= cart.product.id %>" class="d-block w-100 btn btn-outline-dark mt-2">Details</a>
                                <form action="/cart-delete-item" method="POST">
                                    <input type="hidden" name="id" value="<%= cart.product._id %>">
                                    <input type="hidden" name="csrfToken" value="<%= csrfToken %>">
                                    <button type="submit" class="d-block w-100 btn btn-outline-danger mt-2">Delete</button>
                                </form>
                            </div>
                        </article>
                    <% } %>
                </article>
            <% } else { %>
                <p class="text-center text-secondary">No Products Found in Cart!</p>
            <% } %>
        </section>
    </main>
    <%- include('./../includes/bootstrapBundle.ejs') %>
</body>
</html>